html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 40px;
}

.padding {
    padding: 15px;
}

.default {
    cursor: default;
}

span {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;    /* Internet Explorer/Edge */
    user-select: none;        /* Standard syntax */
    cursor: default;
}
